{% extends 'base.html.twig' %}

{% block title %} Page d'accueil {% endblock %}

{% block body %}

    <h2 class="d-none d-sm-inline">Filtrer les Blagues : </h2>
    <h2 class="d-sm-none">Les dernières blagues : </h2>



{% endblock %}